/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/************************************************************************/
/* COLORS                                                               */
/* Please attempt to use and standardize on these colors,               */
/* rather than including specific color values in                       */
/* component styles. This will allow us to more easily adjust theming   */
/************************************************************************/

@primary-color: #0059E8;
@indicator-color: @primary-color;

@brand-primary-dark1: #004CC6;
@brand-primary-dark2: #0041AA;
@brand-primary-light1: #4586EE;
@brand-primary-light2: #6EA0F2;
@brand-primary-light3: #96BBF5;
@brand-primary-light4: #BFD5F9;
@brand-primary-light5: #E7EFFC;

@brand-secondary: #929292;
@brand-secondary-dark1: #727272;
@brand-secondary-dark2: #515151;
@brand-secondary-dark3: #252525;
@brand-secondary-light1: #B1B1B1;
@brand-secondary-light2: #C3C3C3;
@brand-secondary-light3: #D5D5D5;
@brand-secondary-light4: #ECECEC;
@brand-secondary-light5: #F9F9F9;

@almost-black: #252525;
@gray-dark: #727272;
@gray-light: #CECECE;
@gray: #929292;
@gray-bg: #F9F9F9;
@gray-heading: #727272;
@menu-hover: #CECECE;
@lightest: #ffffff;
@darkest: #000000;

/**************************** text-specific *****************************/
@link: #0059E8;
@link-hover: darken(@link, @colorstop-one);

/***************************** status colors ****************************/
@info: #0059E8;
@info-dark1: shade(@info, @colorstop-one);
@info-dark2: shade(@info, @colorstop-two);
@info-light1: tint(@info, @colorstop-one);
@info-light2: tint(@info, @colorstop-two);

@danger: #E53D00;
@danger-dark1: shade(@danger, @colorstop-one);
@danger-dark2: shade(@danger, @colorstop-two);
@danger-light1: tint(@danger, @colorstop-one);
@danger-light2: tint(@danger, @colorstop-two);

@success: #89AD07;
@success-dark1: shade(@success, @colorstop-one);
@success-dark2: shade(@success, @colorstop-two);
@success-light1: tint(@success, @colorstop-one);
@success-light2: tint(@success, @colorstop-two);

@warning: #F3C804;
@warning-dark1: shade(@success, @colorstop-one);
@warning-dark2: shade(@success, @colorstop-two);
@warning-light1: tint(@success, @colorstop-one);
@warning-light2: tint(@success, @colorstop-two);

/* general component effects */
@shadow-highlight: @brand-secondary;

/************************************************************************/
/* TYPOGRAPHY                                                           */
/* Commonly used font weights, line heights, etc. These should be the   */
/* core values used to build more complex styles for headers, etc.      */
/************************************************************************/

// *************************** Weights **********************************
@font-weight-light: 400;
@font-weight-normal: 500;
@font-weight-bold: 700;

// ***************************** Font Sizes *****************************
@font-size-base: 14px; // Base `rem` units on this, as needed.

@font-size-xxs: 9px;
@font-size-xs: 10px;
@font-size-s: 12px;
@font-size-m: @font-size-base;
@font-size-l: 16px;
@font-size-xl: 21px;
@font-size-xxl: 26px;

// **************************** Line Heights ****************************
@line-height-base: 1.4;
// Ranged Sizes
@line-height-tight: 1;
@line-height-normal: @line-height-base;
@line-height-loose: 2;

// ****************************** Families ******************************
@font-family-sans-serif: 'DM Sans', Helvetica, Arial;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
@font-family-monospace: 'Fira Code', 'Courier New', monospace;
@font-family-base: @font-family-sans-serif;

/************************************************************************/
/* TRANSITIONS                                                          */
/* Timing and easings presets used in CSS transitions                   */
/************************************************************************/
@timing-normal: 0.2s;

/************************************************************************/
/* BORDER RADII                                                         */
/* Standard border-radius settings                                      */
/************************************************************************/
@border-radius-normal: 6px;
@border-radius-large: @border-radius-normal; // (@border-radius-normal * 2);

